* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
    background: white;
}

#first p {
    justify-content: center;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    font-size: 14px;
    background-color: #f7f6f4;
}

.first {
    display: flex;
    gap: 30px;
    margin: 20px;
    background-color: #f7f6f4;
}

.first a {
    text-decoration: none;
    color: #6b6683;
    font-size: 12.9px;
    font-weight: 600;
    background-color: #f7f6f4;
}

.second {
    display: flex;
    align-items: ;
    gap: 15px;
    color: #6b6683;
    font-size: 12.9px;
    font-weight: 600;
    background-color: #f7f6f4;
}

.help {
    color: #6b6683;
    font-size: 12.9px;
    font-weight: 600;
    background-color: #f7f6f4;
}

.help1 {
    color: #6b6683;
    font-size: 12.9px;
    font-weight: 600;
    background-color: #f7f6f4;
}

.help a {
    color: #72cbf3;
    text-decoration: none;
    font-size: 15px;
    background-color: #f7f6f4;
}

.whatsapp {
    font-size: 20px;
    padding: 10px;
    background-color: #f7f6f4;
}

.country {
    border: 1px solid #ccc;
    padding: 0px 25px;
    border-radius: 25px;
    cursor: pointer;
    color: #6b6683;
    font-size: 12.9px;
    font-weight: 600;
    background-color: #f7f6f4;
}






.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #ece8d9;
}

.nav-container {
    background-color: #ece8d9;
    display: flex;
}

.logo {
    background-color: #ece8d9;
}

.logo img {
    background-color: #ece8d9;
}

.anchor {
    display: flex;
}

.anchor a {
    gap: 20px;
    text-decoration: none;
    color: #6b6683;
    padding: 0 20px;
    background-color: #ece8d9;
    font-size: 13.9px;
    font-weight: 700;
    /* display: flex; */
    font-family: Arial, Helvetica, sans-serif;
}

.anchor span a {
    background-color: #ece8d9;
}

.anchor span {
    background-color: #ece8d9;
}

.anchor a img {
    background-color: #ece8d9;
}

.menu {
    display: none;
}

.container2,
.variable {
    background-color: #ece8d9;
    padding: 40px 60px;
}

.variable {
    background-color: #ece8d9;
}

.variable h1 {
    background-color: #ece8d9;
    font-size: 67.2px;
    font-weight: 600;
    font-family: serif;
    color: #384a62;
    opacity: 0.8;
}

.variable p {
    background-color: #ece8d9;
    color: #384a62;
    font-size: 30px;
    font-weight: 600;
    font-family: serif;
    opacity: 0.8;
}

.variable b {
    background-color: #ece8d9;
    margin-top: 40px;
    color: black;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.8;
}

.welcome {
    background-color: #ece8d9;
}

.welcome input {
    width: 40%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    margin-top: 5px;
}

.svg {
    display: none;
}

::placeholder {
    color: gray;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.8;
}

.welcome {
    background-color: #ece8d9;
}

.image img {
    /* background-color: #ece8d9; */
    position: absolute;
    top: 200px;
    right: 305px;
    background: none;
}



.product {
    display: flex;
    justify-content: space-between;
    border: none;

}

.product h1 {
    margin-top: 20px;
    font-family: serif;
    color: #384a62;
    font-size: 30px;
    font-weight: 600;
}

.product a {
    margin-top: 30px;
    text-decoration: none;
    color: #d88385;
    font-size: 18px;
    font-weight: 300;
    font-family: sans-serif;
}

.boxes {
    margin-top: 20px;
}

.logos {
    margin-top: 20px;
}

.logos h3 {
    font-size: 30px;
    font-weight: 600;
    font-family: serif;
    color: #384a62;
    margin-top: 40px;
}

.logos p {
    font-family: sans-serif;
    color: #384a62;
    font-size: 20px;
    font-weight: 600;
}

.diff-logo img {
    margin-top: 20px;
}

.section-1 {
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    margin-top: 70px;
    background-color: #edf6fd;
}

.general {
    background-color: #edf6fd;
}

.general-p {
    background-color: #edf6fd;
}

.general-p p {
    background-color: #edf6fd;
    font-size: 30px;
    font-weight: 600;
    color: #384a62;
    font-family: serif;
}

.overall {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 40px 60px; */
    margin-top: 20px;
    gap: 20px;
    background-color: #edf6fd;
}

.general-1 {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.general-1 img {
    background-color: white;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #6b6683;
    padding: 5px;
}

.twitt {
    display: flex;
    gap: 10px;
}

.general-p1 h6 {
    background-color: white;
    font-size: 14px;
    color: #384a62;
}

.general-p1 a {
    text-decoration: none;
    color: #6dd2ff;
    font-size: 15px;
    font-weight: 400;
}

.general-p2 {
    background-color: white;
    color: #384a62;
    font-size: 15px;
}

.general-p2 a {
    text-decoration: none;
    color: #6dd2ff;
    font-size: 15px;
    font-weight: 400;
}

.section-2 {
    background-color: white;
}

.general-3 {
    display: flex;
    gap: 10px;
}

.first-box {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    gap: 10px;
}

.fast h6 {
    font-size: 18px;
    font-weight: 600;
    color: #384a62;
}

.fast p {
    font-size: 15px;
    font-weight: 400;
    color: #384a62;
}

.no-1 {
    font-size: 30px;
    font-weight: 600;
    color: #384a62;
    font-family: serif;
    margin-top: 20px;
}

.section-3 {
    background-color: #f7f6f4;
    padding: 40px 100px;
}

.div-3 {
    background-color: #f7f6f4;
}

.work {
    background-color: #f7f6f4;
    margin-top: 20px;
}

.work h4 {
    background-color: #f7f6f4;
}

.work h3 {
    background-color: #f7f6f4;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 600;
    color: #384a62;
    font-family: serif;
}

.diff-logos {
    display: flex;
    gap: 40px;
    background-color: #f7f6f4;
    margin-top: 30px;
}

.techcrunch {
    background-color: #f7f6f4;
    display: grid;
}

.techcrunch img {
    background-color: #f7f6f4;
    margin-top: 20px;
}

.techcrunch a {
    background-color: #f7f6f4;
    color: black;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    /* margin-top: 10px; */
    padding: 16px;
}

.printivo-footer {
    background-color: #384a62;
}

.footer-container {
    background-color: #384a62;
    display: flex;
    gap: 30px;
    padding: 40px 100px;
    text-align: center;
}
.footer-col{
    background-color: #384a62;
    text-align: justify;
    /* margin-top: 30px; */
}
.footer-col h4{
    color: #ece8d9;
    background-color: #384a62;
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
    padding: 20px;
}
.footer-col ul {
    background-color: #384a62;
    list-style: none;
    padding: 15px;
}
.footer-col ul li {
    background-color: #384a62;
    margin: 10px;    
}
.footer-col ul a{
    text-decoration: none;
    background-color: #384a62;
    color: white;
    font-size: 15px;
    font-weight: 550;
    font-family: sans-serif;
}
.footer-col a{
    background-color: #384a62;
}
.footer-col a img{
    background-color: #384a62;
    padding: 15px;
}
.footer-image img{
    background-color: #384a62;
    width: 50%;
}
.footer-image{
    background-color: #384a62;
}
.last-footer{
    background-color: #f7f6f4;
}
.copyright{
    background-color: #cbcac8;
    padding: 50px;
    text-align: center;
}








. @media screen and (max-width: 768px) {
    .body {}

    .anchor a {
        display: none;
    }

    .first {
        display: none;
    }

    .help span {
        display: none;
    }

    .help a {
        display: block;
    }

    .country {
        padding: 20px;
    }

    .menu {
        background-color: #ece8d9;
        margin-top: 30px;
        display: block;
    }

    .menu:hover {
        cursor: pointer;
    }

    .menu a {
        padding: 20px;
        background-color: white;
        text-decoration: none;
        color: black;
    }

    .image img {
        display: none;
    }

    .variable h1 {
        /* padding: 20px; */
        font-size: 40px;
        opacity: 20;
        justify-content: start;
        align-items: start;
    }

    .welcome {
        display: none;
    }

    .svg {
        display: block;
        background-color: #ece8d9;
        margin-top: 20px;
    }

    .svg img {
        padding: 20px;
    }

    .svg img:hover {
        cursor: pointer;
    }

    /* .section-1 {
        flex-direction: column;
    }

    .general {
        flex-direction: column;
    } */

    /* .overall {
        flex-direction: column;
    }

    .general-3{
        flex-direction: column;
    } */

}